.chess {
	max-width: 100%
}

.hbr {
	max-width:100%;
}

.hands {
	max-width: 100%;
	padding-top: 15px;
}

.navigation {
	max-height: 15px;
}

.content {
	margin-top: 65px;
}

.navigation {
	max-height: 15px;

	/*padding-bottom: 100px;*/
}